@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');

@media screen and (min-width: 480px) {
    .img-profile {
        display: none;
    }
}

@media screen and (min-width: 756px) {
    .img-profile {
        display: block;
    }
}

#root {
    /* background-color: #9DBCBC; */
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #212121;
    clip-path: inset(0 -100vmax);
}

.inverse {
    background-color: #212121;
    color: whitesmoke;
}